
body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background: whitesmoke;
}


img {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 265px;
  height: 250px;
  padding: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
}

h3 {
  /* display: flex;
  justify-content: center; */
  top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
}
.l1, .l2, .l3 {
  position: absolute;
  padding-left: 20px;
  top: 215px;
  width: 250px;
  height: 25px;
  color: white;
}
.l4, .l5, .l6 {
  position: absolute;
  top: 655px;
  padding-left: 20px;
  width: 250px;
  height: 25px;
  color: white;
}


#top-row {
  display: flex;
 justify-content: center;
}

#bottom-row {
  display: flex;
 justify-content: center;
}

#btn-top, #btn-bottom {
  margin: 20px;
  border: 2px solid rgb(190, 190, 190) ;
  padding: 10px 65px 10px 65px;
  background: white;
  font-size: 13px;
  color: rgb(74, 74, 74)
}